*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


footer {
    padding: -1em 0;
    font-size: 15px;
    line-height: 1.8;
    font-weight: normal;
    width: auto;
    
  
  }
  footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #070c1f;
    height: auto;
    width: auto;
    padding-top: 40px;
    color: #fff;
    margin-bottom: 0px;
  
  }
  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 0px;
    bottom: 0;
    width: auto;
  
  
  
  }
  .footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
  }
  .footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
  }
  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    width: auto;
  
    
  }
  
  .socials li{
    margin: 0 10px;
  }
  
  .socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
  }
  
  .socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
  }
  
  .socials a:hover i{
    color: aqua;
  }
  .footer-bottom{
    background: #000;
    display: flex;
    position: relative;
    /* width: 100vw; */
    padding: 20px;
    /* padding-bottom: -6px; */
    text-align: center;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 0px;
    bottom: 0;
    width: auto;
    /* padding-bottom: -12px; */
    /* margin-bottom: -12px; */
  
  
  }
  .footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }
  .footer-bottom p a{
   color:#44bae8;
   font-size: 16px;
   text-decoration: none;
  }
  .footer-bottom span{
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
     bottom: 0;
  
  }
  @media (max-width:500px) {
    .footer-menu ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    }